CREATE TABLE IF NOT EXISTS classes ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), department TEXT NOT NULL, program TEXT NOT NULL, year TEXT NOT NULL, section TEXT NOT NULL, batch TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW() ); CREATE TABLE IF NOT EXISTS subjects ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), name TEXT NOT NULL, code TEXT NOT NULL, department TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW() ); CREATE TABLE IF NOT EXISTS timetables ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), class_id UUID REFERENCES classes(id) ON DELETE CASCADE, subject_name TEXT NOT NULL, faculty_id TEXT NOT NULL REFERENCES users(username) ON DELETE SET NULL, day_of_week TEXT NOT NULL, start_time TIME NOT NULL, end_time TIME NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW() ); 
